/* 	width:500px; -> sert à limite la taille de la ligne 
	color:orange;
*/


html /*concerne tous les textes */
{
	font-size: 30px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
	font-family: 'Roboto', sans-serif;
	background-color: #FF9500;
}

.gauche
{

	width: 300px;
	background-color: yellow;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	display: block;
}

.main 
{
  width: 900px;
  /*
  margin: 0 auto;*/
  background-color: yellow;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.droite
{

	width: 300px;
	background-color: yellow;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	display: block;
}

body
{
	display: grid;
	column-gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
}

#titre_principal
{
	text-align: center;
	color:red;
	
	margin: 0; /* sert a enelever l'espace moche entre le titre et le bord */
	padding: 20px 0;
	text-shadow: 3px 3px 1px black; /* shadow custom dans cet ordre : decalage horizontal, vertical, et rayon de flou (flou de l'ombre), et la couleur de l'ombre */
}

#sous_titre
{
	text-align: center;
	color:orange;
	text-shadow: 2px 2px 1px black;
}

.classe_tst /* une class la c'est en p et ul*/
{

}

.shadowbox
{
	display: block;
	margin: 0 auto;
  
	width: 700px;
	border: 1px solid #333;
	box-shadow: 8px 8px 5px #444;
	padding: 8px 12px;
	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

button
{
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	background-image: linear-gradient(180deg, #ccc, #ddd 40%, #ccc);
}

p, li, p1
{
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}

img 
{
  display: block; /* pour que l'image se comporte comme un block afin de pouvoir espacer avec "margin" pour la centrer */
  margin: 0 auto; /* l'espace extérieur, autour de l'élément, la premiere valeur c'est haut et bas et la deuxieme c'est gauche et droite */
}

video 
{
  display: block; /* pour que l'image se comporte comme un block afin de pouvoir espacer avec "margin" pour la centrer */
  margin: 0 auto; /* l'espace extérieur, autour de l'élément, la premiere valeur c'est haut et bas et la deuxieme c'est gauche et droite */
}

a:hover /*pour quand l'utilisateur passe sa souris sur un lien*/
{
  color:blue;
}
